@import "../../constants";
.rtBtn__positioner {
  position: relative;
  @include atSmall {
    width: 100vw;
    height: 5vh;
  }
  @include atMedium {
    height: 10vh;
  }
}

.rtBtn__container {
  right: 0;
  @include rightSlide;
  @include grow(1.1);
  @include atSmall {
    position: absolute;
    width: 80vw;
  }
  @include atMedium {
    position: relative;
    max-width: 40vw;
    margin-left: 10vw;
  }
}

.rtBtn__link {
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}
