@import "../../constants";
.rtBtn__container {
  right: 0;
  @include rightSlide;
  @include atSmall {
    position: absolute;
    width: 80vw;
  }
  @include atMedium {
    max-width: 40vw;
  }
}

.rtBtn__link {
  text-transform: uppercase;
  transition: all 0.2s;
  & :visited {
  }
  & :hover {
    transform: translateY(-3px);
  }
  & :active {
    transform: translateY(-1);
  }
}
