@import "../../constants";

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  @include fade-in;
  @include atSmall {
    height: 5vh;
  }
  @include atMedium {
    height: 10vh;
  }
}

.logo {
  @include atSmall {
    height: 5vh;
  }
  @include atMedium {
    height: 9vh;
  }
}
