@import "../../constants";

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: $neutralColor;
  @include fade-in;
  @include atSmall {
    height: 5vh;
  }
  @include atMedium {
    height: 10vh;
  }
}

.header--nav__logo {
  align-items: center;
  padding-left: 1em;
  @include atSmall {
    height: 5vh;
  }
  @include atMedium {
    height: 9vh;
  }
}

.header--nav__unit {
  margin-right: 1em;
  align-items: right;
  font-weight: bold;
}
