@import "../../constants.scss";

.section--main__imgBox {
  background-color: $backdropColor;
  position: relative;
  @include atSmall {
    max-width: 100vw;
  }
  @include atMedium {
    max-width: 50vw;
  }
}
.section--main__img {
  @include atSmall {
    display: inline-block;
    vertical-align: bottom;
    padding-top: 5vh;
    margin-bottom: 0;
    width: 100%;
    height: 80vh;
  }
  @include atMedium {
    display: flex;
    width: 80%;
    height: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 3em;
  }
}
