@import "../../constants.scss";

.section--main__imgBox {
  background-image: linear-gradient(
      to right bottom,
      rgba(78, 131, 255, 0.6),
      rgba(110, 137, 199, 0.6)
    ),
    url("../../assets/universal-ebike-kit-1.jpg");
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  @include atSmall {
    height: 65vh;
    max-width: $mobileWidth;
  }
  @include atMedium {
    max-width: ($mobileWidth / 2);
    min-height: 95vh;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }
}
.section--main__img {
  @include atSmall {
    display: inline-block;
    vertical-align: bottom;
    padding-top: 5vh;
    margin-bottom: 0;
    width: $mobileWidth;
    height: auto;
  }
  @include atMedium {
    display: flex;
    width: 95%;
    height: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-right: 2em;
    border-top-right-radius: 4em;
    border-bottom-right-radius: 4em;
  }
}
