@import "./constants.scss";
.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $neutralColor;
  min-height: $pageHeight;
  width: 100vw;
  font-size: calc(10px + 1.75vmin);
  color: $titleColor;
}

.landing__header {
  @include fade-in;
}

.landing__main {
  &h1 {
    @include fade-in;
  }
}

.link {
  color: $highlightColor;
}
