@import "./constants.scss";

.App {
  background-color: $neutralColor;
  min-height: $pageHeight;
  max-width: 100vw;
  font-size: calc(10px + 1.75vmin);
  position: relative;
  align-items: center;
  text-align: center;
  &h1 {
    color: $titleColor;
  }
}
