@import "./mixins";

$neutralColor: #fefefe;
$backdropColor: #8192ba;
$titleColor: #171938;
$highlightColor: #ffbd37;
$hoverColor: #4e82ff;

$pageHeight: 100vh;
$mobileWidth: 100vw;

$gridWidth: 90vw;
$gutterVertical: 2em;
$gutterHorizontal: 2em;

$bigFont: 2em;
$medFont: 1em;
$smallFont: 0.75em;

.row {
  @include atMedium {
    max-width: $gridWidth;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    &:not(:last-child) {
      margin-bottom: $gutterVertical;
    }

    @include clearfix;

    .col-1-of-2 {
      width: calc(50vw - #{$gutterHorizontal});
      &:not(:last-child) {
        margin-right: $gutterHorizontal;
      }
    }
  }
}
