@import "./constants.scss";

.main__container {
  @include fade-in;
  &h1 {
    color: $titleColor;
  }
}

.main--purchase__container {
  margin: 1em;
}

.main--purchase__title {
  color: $titleColor;
}

.main--gallery__container {
  @include atSmall {
    margin-bottom: 4vh;
  }
  @include atMedium {
    margin-bottom: 9vh;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
