@import "./constants.scss";

.main__container {
  margin-bottom: 4vh;
  @include fade-in;
  &h1 {
    color: $titleColor;
  }
}

.main--purchase__container {
  margin: 1em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
