@import "../../constants.scss";

.accordion__icon {
  margin-left: auto;
  transition: transform 0.2s ease-in;
}

.rotate {
  @include rotate(90deg);
}

.accordion__content {
  overflow: hidden;
  transition: max-height 0.6s ease-in;
  max-height: 0;
}

.accordion__btn {
  outline: $highlightColor;
  margin-bottom: 1em;
}
