@import "../../constants.scss";

.iframe__container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  @include atSmall {
    max-width: 95vw;
  }
  @include atMedium {
    max-width: 45vw;
  }
  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0.5em;
  }
}
