@import "../../constants";

.lftButtonWrapper {
  @include grow;
  @include atSmall {
    position: absolute;
    width: 80vw;
    left: 0;
  }
  @include atMedium {
    position: relative;
    width: 20vw;
    left: 0;
  }
}
